@model SICalcWebApp.Areas.SICalculator.Models.PriceOfMaterial

@{
    ViewData["Title"] = "EditPrice";
}

<h1>EditPrice</h1>

<h4>PriceOfMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPrice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PriceInputId" />
            <div class="form-group">
                <label asp-for="DolomiteRate" class="control-label"></label>
                <input asp-for="DolomiteRate" class="form-control" />
                <span asp-validation-for="DolomiteRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MgfExpence" class="control-label"></label>
                <input asp-for="MgfExpence" class="form-control" />
                <span asp-validation-for="MgfExpence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedCost" class="control-label"></label>
                <input asp-for="FixedCost" class="form-control" />
                <span asp-validation-for="FixedCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PriceList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
